body {
    padding-bottom: 20px;
}
  
.navbar {
    margin-bottom: 20px;
}

.btn {
    color: #ffffff;
    background-color: #ff8000;
}

.btn:hover {
    color: #000000;
    background-color: #e67300;
}

@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}
  
